.headerWrapper {
  height: 100vh;
  position: relative;
  background-image: url("https://images.shiksha.com/mediadata/images/1533294008php0E9psI.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTextOne {
  font-size: 2rem;
}
.headerTextTwo {
  font-size: 1.5rem;
}
.headerTextThree {
  font-size: 1.3rem;
}
.headerTextFour {
  font-size: 1.5rem;
}
.headerTextFive {
  font-size: 1.5rem;
}

.headerWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(14, 14, 14, 0.651);
}

.headerContainer {
  text-align: center;
  color: #fff;
}

@media all and (max-width: 534px) {
  .headerTextOne {
    font-size: 1.2rem;
  }
  .headerTextTwo {
    font-size: 1rem;
  }
  .headerTextThree {
    font-size: 1rem;
  }
  .headerTextFour {
    font-size: 1.1rem;
  }
  .headerTextFive {
    font-size: 1rem;
  }
  .headerBottomImage {
    width: 170px;
    height: 110px;
  }
}

.scroll-left {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: yellow;
  color: orange;
  border: 1px solid orange;
}
.scroll_left a {
  position: absolute;
  width: 80%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-100%);
  }
}
