.headerWrapper {
  height: 100vh;
  position: relative;
  background-image: url("https://images.shiksha.com/mediadata/images/1533294008php0E9psI.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(14, 14, 14, 0.651);
}

.headerContainer {
  text-align: center;
  color: #fff;
}
